@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-primary: #0a0a0a;
  --bg-secondary: #1a1a1a;
  --bg-tertiary: #2F2F2F;
  --bg-accent: #e81e2d;
  --text-primary: #ffffff;
  --text-secondary: #cdcdcd;
  --text-muted: #808080;
  --accent-primary: #e81e2d;
  --accent-secondary: #407CFF;
  --accent-muted: #FF5722;
  --border-primary: #333333;
  --shadow-primary: rgba(0, 0, 0, 0.5);
}